/* Global styling for componenet */

#about-us {
   font-family: Regular;
   display: flex;
   justify-content: center;   
   flex-wrap: wrap;
   flex-direction: column;
}

/* Styling for first componenet (Meet Pansuit Professionals) */

#about-us__meet {
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
}

#about-us__meet__img {
   position: relative;
   text-align: center;
   color: white;
}

#about-us__meet h1 {
   font-size: 80px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   margin: 0px;
   width: 100%;
}

/* Styling for second componenet (Our Mission) */

#about-us__mission {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 571px;
}

#about-us__mission h1 {
   font-size: 56px;
}

#about-us__mission h3 {
   font-size: 40px;
   color: #CF4383;
   text-align: center;
}

/* Styling for 4th component */

#about-us__grid {
   display: grid;
   grid-template-rows: auto;
   grid-template-areas: 
   "pic1 text1"
   "text2 pic2";
}

#about-us__grid__1 {
   grid-area: text1;
}

#about-us__grid__1 {
   grid-area: pic1;
   background-image: url("../../assets/images/Group 604.png");
}

#about-us__grid__1 {
   grid-area: text2;
}

#about-us__grid__1 {
   grid-area: pic2;
}