<div id="about-us">
   <div id="about-us__meet">
      <div id="about-us__meet__img">
         <img src="../../assets/images/Group 604.png" alt="3 women talking" style='height: 100%; width: 100%; object-fit: contain'/>
         <h1>Meet Pansuit Professionals</h1>
      </div>
   </div>
   <div id="about-us__mission">
      <h1>OUR MISSION</h1>
      <h3>"Help you become the best you can be while <br> climbing the latter (ladder?) of your workspace."</h3>
   </div>
   <div id="about-us__story">
      <!-- <h1>OUR STORY</h1> -->
   </div>
   <div id="about-us__grid__container">
      <div id="about-us__grid">
            <div id="about-us__grid__1">
               <h3>Who we are</h3>
               <p>Pantsuit Professionals is a women association 
                  for the advancement of women in the workplace. 
               </p>
            </div>
            <div id="about-us__grid__2"></div>
            <div id="about-us__grid__3">
               <h3>Guide, Educate, Help</h3>
               <p>
                  We help women advance in their personal and professional lives 
                  based solely on there respective intellectual capital - not gender!
               </p>
            </div>
            <div id="about-us__grid__4"></div>
      </div>
   </div>
   <img id="about-us__group-photo" alt="women group photo" src="../../assets/images/MaskGroup5.png">
</div>