<div id="about-us__meet">
      <!-- <figure>
         <figcaption>Meet Pansuit Professionals</figcaption>
         <img src="../../assets/images/Group 604.png" style='height: 100%; width: 100%; object-fit: contain'/>
      </figure> -->
      <div id="about-us__meet__img">
         <img src="../../assets/images/Group 604.png" style='height: 100%; width: 100%; object-fit: contain'/>
         <h1>Meet Pansuit Professionals</h1>
      </div>
   
</div>
<div>
   <h1>Our Mission</h1>
   <h3>"Help you become the best you can be while climbing the latter of your workspace</h3>
</div>