<div id="about-us">
   <div id="about-us__meet">
      <div id="about-us__meet__img">
         <img src="../../assets/images/Group 604.png" style='height: 100%; width: 100%; object-fit: contain'/>
         <h1>Meet Pansuit Professionals</h1>
      </div>
   </div>
   <div id="about-us__mission">
      <h1>OUR MISSION</h1>
      <h3>"Help you become the best you can be while climbing the latter (ladder?) of your workspace."</h3>
   </div>
   <div id="about-us__story">
      <!-- <h1>OUR STORY</h1> -->
   </div>
   <div id="about-us__who">

   </div>
</div>