#title {
   font-size: 2.625rem;
   text-align: center;
}

#title span {
   color: #C92570;
}

#brandamd-form {
   margin-top: 1.5rem;
   width: 28.5rem;
   margin: auto;
   text-align: left;
}

#brandamd-form h3 {
   font-size: 1.313rem;
}

#brandamd-form input, label{
   display: block;
}