<h1 id="title">Apply to become a <span> Brand Ambassador </span></h1>
<form id="brandamd-form">

   <h3 >please fill out the forms below to be considered</h3>

   <label> Full Name
      <input type="text" required>
   </label>
   <label> Email
      <input type="text" required>
   </label>
   <label> Phone Number
      <input type="text" required>
   </label>

   <label> Add your Resume
      <input type="file">
   </label>
   <label> Add your Cover Letter
      <input type="file">
   </label>

   <label> Tell us how you would promote our brand on your social media platforms? 
            Our product and services include: shop (merch), jobs, events, membership, 
            money, lifestyle blog, mobile app.*
      <input type="textarea">
   </label>

</form>
