#title {
   font-size: 42px;
   text-align: center;
   font-family: Regular;
   margin-bottom: 24px;
}

#title span {
   color: #C92570;
}

#brandamb-form {
   margin-top: 1.5rem;
   width: 28.5rem;
   margin: auto;
   text-align: left;
   font-family: Regular;
}

#brandamb-form h3 {
   font-size: 21px;
   margin-bottom: 8px;
   font-weight: lighter;
}

#brandamb-form input, label, textarea{
   display: block;
   font-weight: lighter;
   font-size: 21px;
}

#brandamb-form input, textarea {
   margin-bottom: 32px;
   opacity: 1;
}

.required {
   color: red;
 }

 #brandamb-form--required {
    color: red;
    margin-top: 0px;
    margin-bottom: 24px;
    font-size: 21px;
    font-weight: lighter;
 }

/* Styling for Name, Email, and Phone Number  */

 .brandamb-form__basic{
    margin-bottom: 5px;
 }

 .brandamb-form__basic--input {
    width: 100%;
    height: 56px;
    border: 1px solid #C6C6C6;
    border-radius: 4px;
 }

/* Styling for Resume and Cover Letter */

 .brandamb-form__resume {
   margin-bottom: 24px;
 }

 .brandamb-form__questions {
    margin-bottom: 5px;
 }

.brandamb-form__resume--input::-webkit-file-upload-button {
   background-color: white;
   color: #C82570;
   border: 1px solid #C82570;
   width: 183px;
   height: 40px;
   font-family: bold;
   font-size: 18px;
   transition: background-color .2s, color .2s;
   cursor: pointer;
}

.brandamb-form__resume--input::-webkit-file-upload-button:hover {
   color:white;
   background-color: #C82570;
}

/* Styling for questions */

#brandamb-form textarea {
   border: 1px solid #C6C6C6;
   border-radius: 4px;
   resize: none;
   font-size: 17px;
}

#q1, #q2, #q3 {
   width: 100%;
   height: 447px;
}

#q4, #q5 {
   width: 100%;
   height: 152px;
}

/* Submit Application button */

#brandamb-form__submit-container {
   width: 100%;
   display: flex;
   justify-content: center;
}

#brandamb-form__submit-container button {
   background-color: #C82570;
   color: white;
   border: 1px solid #C82570;
   width: 210px;
   height: 56px;
   border-radius: 2px;
   font-family: bold;
   font-size: 18px;
   transition: background-color .2s;
   cursor: pointer;
}

#brandamb-form__submit-container button:hover {
   background-color: #C93679;
}