/* You can add global styles to this file, and also import other style files */
@font-face{
   font-family: Regular;
   src: url("./assets/fonts/SuisseIntl-Regular.otf")
}
@font-face{
   font-family: Bold;
   src: url("./assets/fonts/SuisseIntl-SemiBold.otf")
}
@font-face{
   font-family: Thin;
   src: url("./assets/fonts/SuisseIntl-Thin.otf")
}